{{!-- ./views/new.handlebars --}}
<h1 class="mb-1 ">新增</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <form method="POST" action="/restaurants">
        <div class="form-group">
          <label for="inputName">中文名稱</label>
          <input type="text" class="form-control" id="inputName" name="name" placeholder="中文名稱">
        </div>

        <div class="form-group">
          <label for="inputEnName">英文名稱</label>
          <input type="text" class="form-control" id="inputEnName" name="name_en" placeholder="英文名稱">
        </div>

        <div class="form-group">
          <label for="inputcategory">料理種類</label>
          <input type="text" class="form-control" name="category" id="inputcategory" placeholder="料理種類">
        </div>

        <div class="form-group">
          <label for="Imgwebsite">圖片網址</label>
          <input type="text" class="form-control" id="Imgwebsite" name="image" placeholder="圖片網址">
        </div>

        <div class="form-group">
          <label for="inputLocation">地址</label>
          <input type="text" class="form-control" id="inputLocation" name="location" placeholder="地址">
        </div>

        <div class="form-group">
          <label for="inputPhone">電話</label>
          <input type="text" class="form-control" id="inputPhone" placeholder="電話" name="phone">
        </div>

        <div class="form-group">
          <label for="googleMap">Google Map 網址</label>
          <input type="text" class="form-control" id="googleMap" placeholder="Google Map 網址" name="google_map">
        </div>

        <div class="form-group">
          <label for="inputRating">評價</label>
          <input type="number" class="form-control" id="inputRating" placeholder="評價" name="rating">
        </div>

        <div class="form-group border border-secondary">
          <label for="inputDescription">描述</label>
          <input type="text" class="form-control" id="inputDescription" placeholder="描述" name="description">
        </div>
        <button class="btn btn-primary" type="submit">新增</button>
      </form>
    </div>
  </div>
</div>